{% extends "base.html" %}

{% block content %}
    <div class="container mb-4">
        <p>Data last updated: {{ date_data_updated }}</p>
    </div>

    <div class="container mb-4">
        <form method="POST" class="form-inline w-25">
            <div class="form-group">
                <label for="days">Show data from the last</label>
                <input type="number" name="days" class="form-control mx-2 " id="days" min="1" max="650"
                       value={{ days }}>
                <label for="days">days</label>
            </div>
            <button type="submit" class="btn mx-2 mt-2">Update</button>
        </form>
    </div>

    <div id="interactive-map" class="container mb-4 pb-1">
        <div class="d-flex justify-content-between align-text-bottom ">
            <h2 class="">Stocked Trout Lakes in Washington</h2>
            <a id="expand-button" href="#">View larger map<span class="glyphicon glyphicon-share-alt"></span></a>
        </div>
        {{ folium_map | safe }}
    </div>
    <script>
        let expanded = false
        let expandButton = $("#expand-button")
        $(document).ready(function () {

            expandButton.click(function (event) {
                event.preventDefault(); // prevent the link from navigating to the fullscreen page

                let container = $("#interactive-map");
                let iframe = container.find("iframe");

                if (expanded) {
                    iframe.css("width", "100%");
                    iframe.css("height", "100%");

                    container.css("width", "100%")
                    container.css("height", "100%")
                    expandButton.text("View larger map")
                    expanded = false
                } else {
                    iframe.css("width", "90vw")
                    iframe.css("height", "90vh");

                    container.css("width", "95vw")
                    container.css("height", "95vh");

                    expandButton.text("View smaller map")
                    expanded = true
                }
            });
        });
    </script>
    <div id="total-stocked-by-date-chart-container" class="container ">

        <h2>Total Trout Stocked By Date in last <span class="text-muted">{{ days }}</span> days </h2>
        <div class=" bg-panel rounded p-2">

            <div>{{ total_stocked_by_date_chart | safe }}</div>

        </div>
    </div>
    <div id="total-stocked-by-hatchery-chart-container" class="container my-4 mt-5">

        <h2>Total Trout Stocked By Hatchery in last <span class="text-muted">{{ days }}</span> days </h2>
        <div class=" bg-panel rounded p-2">

            <div>{{ total_stocked_by_hatchery_chart | safe }}</div>

        </div>
    </div>
    <div class="container my-4 ">
        <div class="d-flex justify-content-between align-text-bottom mt-5">
            <h2>Most Recent Lakes Stocked in last <span class="text-muted">{{ days }}</span> days
            </h2>
            <p class="">Showing <span class="text-muted">{{ most_recent_stocked | length }}</span> entries</p>
        </div>
        <div class="row p-2 mb-5  bg-panel  rounded table-container" style="text-align: center;">
            <table id="data-table" class="table table-striped sortable rounded p-2">
                <thead>
                <tr>
                    <th>Body of Water</th>
                    <th>Amount Stocked</th>
                    <th>Species</th>
                    <th>Fish per Pound</th>
                    <th>Date Stocked</th>
                    <th>Derby Participant</th>
                </tr>
                </thead>
                <tbody>
                {% for td in most_recent_stocked[::-1] %}
                    <tr id="{{ td["lake"].lower().replace(" ", "-" ) }}">
                        <td>{{ td["lake"] }}</td>
                        <td>{{ td["stocked_fish"] }}</td>
                        <td>{{ td["species"] }}</td>
                        <td>{{ td["weight"] }}</td>
                        <td>{{ td["date"] }}</td>
                        <td>{{ True if td["derby_participant"] else '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>


    <div style="margin: 0 auto" class="container row mt-5 pt-3 g-0">
        <div class="col section me-4">
            <div class="d-flex justify-content-between align-text-bottom ">

                <h2>Trout Derby Lakes</h2>
                <h3> (Shown On Map With red Pins)</h3>
            </div>
            <div style="height: 250px;overflow: auto" class=" bg-panel rounded p-2">

                <div>

                    {% for lake in derby_lakes %}
                        <div class="row">
                            <p>{{ lake['lake'] }}</p>

                        </div>
                    {% endfor %}
                </div>

                {% if derby_lakes|length == 0 %}

                    <p>There are no recently Stocked lakes with derby trout. It's most likely all the derby trout have
                        been
                        caught already. Better luck next year!</p>

                {% endif %}
            </div>
            <a href="https://wdfw.wa.gov/fishing/contests/trout-derby" target="_blank" rel="noreferrer">Learn more
                about
                the Trout Derby <span class="glyphicon glyphicon-share"></span></a>
        </div>

        <div class="col section ">
            <h2>Resources</h2>

            <div class=" bg-panel rounded p-2" style="height: 250px;overflow: auto">

                <ul class="list-unstyled text-left">
                    <li><a href="https://wdfw.wa.gov/fishing/reports/stocking/trout-plants" target="_blank">
                        Trout stock plants <span class="glyphicon glyphicon-share"></span> </a></li>
                    <br>
                    <li><a href="https://fortress.wa.gov/dfw/erules/efishrules/" target="_blank">
                        Emergency
                        fishing rule changes <span class="glyphicon glyphicon-share"> </span> </a></li>
                    <br>
                    <li><a href="https://www.eregulations.com/washington/fishing/" target="_blank">
                        Sportfishing rules pamphlet <span class="glyphicon glyphicon-share"></span> </a></li>
                    <br>
                    <li><a href="https://wdfw.wa.gov/fishing/reports" target="_blank"> Fish stocking reports <span
                            class="glyphicon glyphicon-share"></span> </a></li>
                    <br>
                    <li><a href="https://wdfw.wa.gov/fishing/regulations/app" target="_blank"> Fish Washington mobile
                        app <span
                                class="glyphicon glyphicon-share"> </span> </a>
                    </li>
                    <br>

                    <li><a href="https://fishhunt.dfw.wa.gov/#/application/help?tab=3&amp;subTab=-1"
                           target="_blank"> Buy a fishing license <span class="glyphicon glyphicon-share"> </span> </a>
                    </li>
                    <br>
                    <li><a href="https://www.discoverpass.wa.gov/" target="_blank"> Discover Pass <span
                            class="glyphicon glyphicon-share"></span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container mt-5 g-0 " id="about">
        <h1 class="mb-3">About This Page</h1>
        <div class=" bg-panel rounded p-2">

            <p>
                I created this app to help other anglers and wildlife enthusiasts connect to a valuable resource in
                Washington State. The Washington Department of Fish and Wildlife was kind enough to display the fish
                stocking reports in a table <a
                    href="https://wdfw.wa.gov/fishing/reports/stocking/trout-plants " target="_blank"
                    rel="noreferrer">here</a>.
                It's up to all of us to help preserve these valuable resources, and I am happy to provide this free tool
                to help spread awareness of them.

                <br>
                <br>
                Rainbow trout are very adaptable. They can be stocked everywhere from high-mountain lakes and streams to
                valley reservoirs — and even into the fisheries in our towns and cities.
                <br>
                <br>
                The WDFW expects to stock or has stocked more than 16.2 million
                trout and kokanee into over 500 water bodies across the state to provide for excellent trout and kokanee
                fishing opportunities during 2022. The stocking is comprised of "catchables", "jumbos", "put, grow and
                take" and "fry/fingerling" plants.
                <br>
                <br>
                <strong>Jumbo Trout</strong>
                <br>
                <br>
                In 2022, the Department will stock hundreds of lakes throughout the state with over 147,000 jumbo trout
                averaging greater than 14 inches in length and 1 pound or larger in weight.
                <br>
                <br>
                <strong>Trout and Kokanee Fry, Fingerling and Put, Grow and Take Plants</strong>
                <br>
                <br>
                Over 12 million fry, fingerlings and put, grow and take fish were stocked throughout the state as
                2-to-8-inch-long fish. Kokanee fry that were stocked in 2021 will be harvestable in 2022/2023 fisheries,
                while trout fry, fingerling and put, grow and take were stocked in spring and fall 2021 for this year's
                catch.
                <br>
                <br>
                Fry, fingerlings and put, grow and take are stocked in the spring and fall, when they are able to feed
                and grow on natural food until they are large enough to be harvested. The survival rate for these
                differing sizes of fish varies depending on conditions of the lake. A number of eastern Washington lakes
                are managed so that fry survival is very good and therefore are the primary source of trout available
                for harvest. Western Washington lowland lakes depend primarily on catchable-size trout plants because of
                relatively low fry survival. In Western Washington, where fry plants are successful, the ones that
                survive supplement the catchable trout plants.


            </p>
        </div>

    </div>


{% endblock %}
