
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}


header {
    margin-bottom: 50px;
    padding: 20px 0 40px;
    background: #53647B;
    border-bottom: 2px solid #FFD12C;
    color: #fefefe
}


body {
    background-color: #14213d;
}

main {
    color: white;

}

p {
    font-size: 20px !important;
}

a {
    color: white;
}

a:hover {
    color: darkcyan;
}


tr:nth-child(even) {
    background-color: #53647B !important;
}

tr:hover {
    background-color: darkcyan !important;
    cursor: default;
}

.table-container {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 40vh; /* gives an initial height of 200px to the table */
}

.table-container thead th {
    position: sticky; /* make the table heads sticky */
    top: 0; /* table head will be placed from the top of the table and sticks to it */
}

table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    border-radius: 10px !important;
    color: white;
}

th {
    border-top: none;

}

td:first-child, th:first-child {
    border-left: none;

}

th,
td {
    text-align: left;
    border: none;
}

thead, th {
    background-color: white;
    color: #000;
    padding-block: 2.5rem 1rem !important;
    text-align: left;
    position: sticky;
    margin-top: 0 !important;
    top: -5px; /* Don't forget this, required for the stickiness */
}


.folium-map {
    text-align: center;
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
    /*max-height: 70vh;*/
    background: #0B2B40 !important;
    background-color: #0B2B40 !important;
    margin-bottom: 200px !important;
}

.leaflet-popup-content {
    width: 200px !important;
    height: 100px !important;
}

footer {
    margin-top: 90px;
    padding: 20px 0 30px;
    background: #53647B;
    border-top: 2px solid #FFD12C;
    color: #fefefe
}

footer a {
    color: white;
    bottom: 0;
}

.section {
    /*background-color: #53647B;*/
    border-radius: 8px;
}

.dont-break-out {
    font-size: medium;
    text-decoration: none;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}


