{% extends "base.html" %}

{% block content %}


    <div style="padding-bottom: 1vh; width: 100%" class="container border-bottom mb-4">
        <div class="d-flex justify-content-between align-text-bottom ">
            <a href="/fullscreen">View Larger Map<span class="glyphicon glyphicon-share"></span></a>
            <h1 class="">Stocked Trout Lakes in Washington</h1>
        </div>
        {{ folium_map | safe }}
    </div>


    <div style="margin: 0 auto" class="container row mt-5 pt-3">
        <div class="col section">

            <h2 class="border-bottom">Trout Derby Lakes</h2>
            <h3> (Shown On Map With red Pins)</h3>

            <a href="https://wdfw.wa.gov/fishing/contests/trout-derby" target="_blank" rel="noreferrer">Learn more about
                the Trout Derby <span class="glyphicon glyphicon-share"></span></a>

            <br>
            <br>

            {% for lake in derby_lakes %}
                <div class="row">
                    <p>{{ lake }}</p>

                </div>
            {% endfor %}

            {% if derby_lakes|length == 0 %}

                <p>There are no recently Stocked lakes with derby trout. It's most likely all the derby trout have been
                    caught already. Better luck next year!</p>

            {% endif %}
        </div>

        <div class="col section" style="text-align: center">
            <ul style="list-style: none">
                <li><h2 class="border-bottom">Resources</h2></li>
                <li><a href="https://fortress.wa.gov/dfw/erules/efishrules/" target="_blank">
                    Emergency
                    fishing rule changes<span class="glyphicon glyphicon-share"></span> </a></li>
                <br>
                <li><a href="https://www.eregulations.com/washington/fishing/" target="_blank">
                    Sportfishing rules pamphlet<span class="glyphicon glyphicon-share"></span> </a></li>
                <br>
                <li><a href="https://wdfw.wa.gov/fishing/reports" target="_blank"> Fish stocking reports<span
                        class="glyphicon glyphicon-share"></span> </a></li>
                <br>
                <li><a href="https://wdfw.wa.gov/fishing/regulations/app" target="_blank"> Fish Washington mobile
                    app<span
                            class="glyphicon glyphicon-share"></span> </a>
                </li>
                <br>

                <li><a href="https://fishhunt.dfw.wa.gov/#/application/help?tab=3&amp;subTab=-1"
                       target="_blank"> Buy a fishing license<span class="glyphicon glyphicon-share"></span> </a></li>
                <br>
                <li><a href="https://www.discoverpass.wa.gov/" target="_blank"> Discover Pass<span
                        class="glyphicon glyphicon-share"></span> </a>
                </li>
            </ul>
        </div>
        <div class="row pb-2 mb-5 mt-5" style="text-align: center;">
            <h1 class="text-center mb-4">Data From <a class="dont-break-out"
                                                      href="https://wdfw.wa.gov/fishing/reports/stocking/trout-plants">https://wdfw.wa.gov/fishing/reports/stocking/trout-plants</a>
            </h1>
            <div class="table-container">
                <table id="data" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Body of Water</th>
                        <th>Stocked Fish</th>
                        <th>Date Stocked</th>
                        <th>Derby Participant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for td in most_recent_stocked %}
                        <tr>
                            <td>{{ td["lake"] }}</td>
                            <td>{{ td["stocked_fish"] }}</td>
                            <td>{{ td["date"] }}</td>
                            <td>{{ td["derby_participant"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5" id="about">
            <h1 class="border-bottom mb-3">About This Page</h1>

            <p>


                I created this app to help other anglers and wildlife enthusiasts connect to a valuable resource in
                Washington State. The Washington Department of Fish and Wildlife was kind enough to display the fish
                stocking reports in a table <a
                    href="https://wdfw.wa.gov/fishing/reports/stocking/trout-plants " target="_blank" rel="noreferrer">here</a>.
                It's up to all of us to help preserve these valuable resources, and I am happy to provide this free tool
                to help spread awareness of them.

                <br>
                <br>
                Rainbow trout are very adaptable. They can be stocked everywhere from high-mountain lakes and streams to
                valley reservoirs — and even into the fisheries in our towns and cities.
                <br>
                <br>
                The WDFW expects to stock or has stocked more than 16.2 million
                trout and kokanee into over 500 water bodies across the state to provide for excellent trout and kokanee
                fishing opportunities during 2022. The stocking is comprised of "catchables", "jumbos", "put, grow and
                take" and "fry/fingerling" plants.
                <br>
                <br>
                <strong>Jumbo Trout</strong>
                <br>
                <br>
                In 2022, the Department will stock hundreds of lakes throughout the state with over 147,000 jumbo trout
                averaging greater than 14 inches in length and 1 pound or larger in weight.
                <br>
                <br>
                <strong>Trout and Kokanee Fry, Fingerling and Put, Grow and Take Plants</strong>
                <br>
                <br>
                Over 12 million fry, fingerlings and put, grow and take fish were stocked throughout the state as
                2-to-8-inch-long fish. Kokanee fry that were stocked in 2021 will be harvestable in 2022/2023 fisheries,
                while trout fry, fingerling and put, grow and take were stocked in spring and fall 2021 for this year's
                catch.
                <br>
                <br>
                Fry, fingerlings and put, grow and take are stocked in the spring and fall, when they are able to feed
                and grow on natural food until they are large enough to be harvested. The survival rate for these
                differing sizes of fish varies depending on conditions of the lake. A number of eastern Washington lakes
                are managed so that fry survival is very good and therefore are the primary source of trout available
                for harvest. Western Washington lowland lakes depend primarily on catchable-size trout plants because of
                relatively low fry survival. In Western Washington, where fry plants are successful, the ones that
                survive supplement the catchable trout plants.


            </p>
        </div>

    </div>

{% endblock %}
