
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

header {
    margin-bottom: 50px;
    padding: 20px 0 40px;
    background: #53647B;
    border-bottom: 2px solid #FFD12C;
    color: #fefefe
}

header h1{
    margin-left: 15vw;
}

body {
    background-color: #14213d;
}
main  {
    color: white;

}

a {
    color: white;
}

a:hover {
    color: darkcyan;
}

table, .table {
    color: white;
    border-radius: 10px !important;
}

th {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #53647B !important;
}




.table-container{
    height: 40vh;
    overflow: auto;
    border-radius: 10px !important;
}

.folium-map {
    text-align: center;
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
    /*max-height: 70vh;*/
    background: #0B2B40 !important;
    background-color: #0B2B40 !important;
    margin-bottom: 200px !important;
}

.leaflet-popup-content{
    width: 200px !important;
    height: 100px !important;
}

footer {
    margin-top: 90px;
    padding: 20px 0 30px;
    background: #53647B;
    border-top: 2px solid #FFD12C;
    color: #fefefe
}

footer a {
    color: white;
    bottom: 0;
}

.section {
    background-color: #53647B;
    border-radius: 8px;
    width: 100px !important;
}

