.folium-map{
    text-align: center;
}
html{
    background-color: gainsboro;
}
body{
    background-color: gainsboro;
}
h1 {
    text-align: center;
    color: cadetblue;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}
table{
    margin: 0 auto;
    text-align: center;
}
th{
text-align: center;
}