name: daily-cron
on:
  schedule:
    - cron: '0 */6 * * *'
jobs:
  cron:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install python-dotenv
          pip install -r ./back_end/requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          pytest
        env:
          GV3_API_KEY: ${{ secrets.GV3_API_KEY }}
          SQLALCHEMY_DATABASE_URI: ${{ secrets.SQLALCHEMY_DATABASE_URI }}
          OPEN_ROUTE_API_KEY: ${{ secrets.OPEN_ROUTE_API_KEY }}
      - name: run scraper
        run: python ./back_end/scraper.py
        env:
          GV3_API_KEY: ${{ secrets.GV3_API_KEY }}
          SQLALCHEMY_DATABASE_URI: ${{ secrets.SQLALCHEMY_DATABASE_URI }}
          OPEN_ROUTE_API_KEY: ${{ secrets.OPEN_ROUTE_API_KEY }}